<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/ass2.css">
    <style>
        .goto{
            margin: auto;
        }

        .square{
            width:65px;
            border : 5px solid blue;
            background-color: aqua;
        }
    </style>

</head>
<body>
    <div class="goto">
        <h3>그냥 책!</h3>
        <img class="picture" src="../static/img/book.jpg">
        <p>가격 5억<br>브랜드:중앙대학교</p>
        
        <div class="square">
            <a href="https://www.cau.ac.kr/index.do">
            <p>주문하기</p>
            </a>
        </div>
        
    </div>
    
</body>
</html>