<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빨강, 노랑, 파랑의 구성2-몬드리안</title>
    <link rel="stylesheet" href="../static/css/flex과제.css">
</head>
<body>
    <div class="whole">
        <div class="left">
            <div class="first">
                
            </div>
            <div class="first">
                
            </div>
            <div class="second">
                
            </div>
        </div>

        <div class="right">
            <div class="third">

            </div>
            <div class="fourth">
                <div class="fl">
                </div>
                <div class="f2">
                    <div class="f3">        
                    </div>
                    <div class="f4">

                    </div>
                </div>
            </div>
        
        </div>    
    </div>
    
</body>
</html>