<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여긴어디 나는누구</title> 
 
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>

<body>

<header>
    <nav>
        <u1>
            <li><ahref="index.html"></ahref>home</a></li>
            <li><a href="aboutme.html">dddd</a></li>
        </u1>

    </nav>
</header>

<section>
    <div>
        <a href="https://www.naver.com/"><image src="da.jpg", width="30px"/></a>
        
    </div>
</section>
<section>

</section>
<section>
    <h1>제목 : 자기소개</h1>
    <p id="name">이름 : 최광민</p>
    <p>전공 : 철학</p>
    <p class="introduce_text"> 나이 : <span style="color: red">24세</span></p>


    <meter min="0" max="100" value="50" low="30" high="40" optimum="60"
    <meter min="0" max="100" value="50" low="30" high="40" optimum="60"
    <meter min="0" max="100" value="50" low="30" high="40" optimum="60"
</section>

<footer>
    😊Copyright &copy;
</footer>

</body>
</html>