<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/ass1.css">
</head>
<body>
    <div class="main-wrap">
        <div class="dongrami">
            <h1>Gwangmin Choi</h1>
        </div>

      
        <p><strong>철학부 3학년 재학생</strong></p>
        <p>멋쟁이 사자처럼 10기 소속입니다! 백엔드 파트에 지원했습니다!</p>
        <p>중앙대학교 철학과 3학년 화석입니다.<br>99년생 24살입니다. 앞으로 잘부탁드립니다.</p>
        
        <div>
            <h2>Contact information</h2>
            
            <div class="second_wrap">
                <ul>
                    <li><a href="mailto:rhkdals0916@naver.com">메일보내기</a></li> 
                    <li>Tel : 010 8888 8888</li> 
                </ul>
            </div>
        </div>

    </div>
</body>
</html>