<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>싸다 싸 쇼핑몰</title>
    <link rel="stylesheet" href="../static/css/ass2.css">
</head>
<body>
    <div>
        <h2>어머! 이건 꼭 사야해!!</h2>

        <div>
            <div class="in-wrap">
                <a href="./click.html">
                    <img class="picture" src="../static/img/robot.png"> 
                    <p>무엇이든 도와주는 귀여운 인공지능</p>
                </a>
            </div>
            
            <div class="in-wrap">
                <a href="./click2.html">
                    <img class="picture" src="../static/img/book.jpg">
                    <p>그냥 책!</p>
                </a>
                
            </div>

        
            
        </div>

    

    </div>

</body>
</html>