<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="../static/css/photo.css">
</head>
<body>
    <div class="whole">
        <div class="p1">
            <div class="part1">
                <div class="part1-1">      
                </div>
                <div class="part1-2">      
                </div>    
             </div>
            <div class="part2">
            </div>
        </div>
        <div class="p2">    
            <div class="part3">
                <p>나도 날 잘모르겠어요!</p>
                <p>mbti는 infj랑 intj왔다갔다해요!</p>
                <p>특기 <br>
                    1= 멍때리기 <br>
                    2=침대에서 뒹굴기 <br>
                    3=숨쉬기 <br>
                    4=밥먹기 <br>
                    5=걸어다니기<br>
                    6=누워있기<br>
                    7=눈깜박거리기<br>
                    8=앉았다 일어나기<br>
                    9=쓸데 없는 생각하기<br>
        
                </p>
                <p>그나마 인생에서 재밌는 거<br>
                    1=아무것도 안하고 가만히 있는거
                    2=멍하니 유튜브 보는 거
                    3=하루종일 책 읽기(영양가있는 책)
                    4=산책하기
                    5=가끔 친구들 만나기
            
                </p>
                <p>좋아하는 노래
                    :엄청 신나거나 우울하거나 둘 중 하나 중간은 없다.
                    운동할때 락,헤비메탈 듣거나, 혼자 조용히 있을 땐 뉴에이지나 포크 발라드처럼 잔잔한거 많이 들음
                    요새는 장기하 노래가 좋다!
                    부럽지않아! 가만히있으면되는데 뭘자꾸 할려그래!
                </p>
                <p>인생모토
                    -적당히 열심히 살되 기대는 하지말자
                </p>
            </div>
        </div>
       
    </div>
</body>
</html>